langsmith
langchain_core
langchain
langchain_community
langchain_openai
langchain_anthropic
dill
pyprojroot
flask
python-dotenv
fastapi
uvicorn
pymongo
azure-search
azure-search-documents
azure-identity
azure-storage-blob
sse_starlette
langserve==0.2.2
pymupdf
docx2txt
odfpy
tiktoken
python-multipart